@import "../../header/header.module.scss";

.humbergerMenu {
  width: 250px;
  height: calc(100vh - $header-height);
  border-right: 1px solid #999;
  padding: 10px;

  position: fixed;
  top: $header-height;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}