.table {
  width: 50vh;
  height: 50vh;
  border: 3px solid black;
  border-radius: 15px;
  background: rgb(0, 100, 0);
  border-spacing: 0;
  overflow: hidden;

  table-layout: fixed;

  tr {
    height: 5vh;
  }

  td {
    width: 5vh;
    padding: 5px;
    border: 1px solid black;
  }
}